---
permalink: /pt-br/rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>cuchi.me</title>
    <language>pt-br</language>
    <link>{{ metadata.url }}/rss.xml</link>
    <atom:link href="{{ metadata.url }}/pt-br/rss.xml" rel="self" type="application/rss+xml"/>
    {% for post in collections.postsPt | reverse %}
    <item>
      <title>{{ post.data.title }}</title>
      <guid>{{ metadata.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
