---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ metadata.url }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ metadata.url }}/posts/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{% for post in collections.posts %}
  <url>
    <loc>{{ metadata.url }}{{ post.url }}</loc>
    <lastmod>{% if post.data.updated %}{{ post.data.updated | dateToRfc3339 }}{% else %}{{ post.date | dateToRfc3339 }}{% endif %}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
{% endfor %}
</urlset>
